<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div>
    {{>header}}
    <p>{{msg}}</p>
    <form>
     <input placeholder="Location"/>
     <button>Search</button>

     <p id="msg-1"></p>

     <p id="msg-2"></p>
     </form>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>